ul li,
ol li {
    list-style: none;
}
#box {
    border: 1px solid red;
    width: 500px;
    height: 300px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}
#imgList {
    height: 300px;
    margin: 0;
    padding: 0;
}
#imgList li {
    width: 500px;
    height: 300px;
    float: left;
}
#imgList li img {
    width: 100%;
    height: 100%;
}
#olist {
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
}
#olist li {
    width: 25px;
    height: 25px;
    border: 1px solid red;
    border-radius: 100%;
    float: left;
    margin-left: 20px;
    text-align: center;
    background: #fff;
}
span {
    width: 100px;
    height: 35px;
    background: #fff;
    border: 1px solid red;
    display: inline-block;
    font-size: 35px;
    text-align: center;
    line-height: 35px;
}
#left {
    position: absolute;
    left: 0;
    top: 50%;
    border-left: none;
}
#right {
    position: absolute;
    right: 0;
    top: 50%;
    border-right: none;
}
.bgColor {
    background: red!important;
}