body,#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 0;
    font-size: .12rem;
}
.section {
    flex: 1;
    overflow-y: scroll;
}
.header {
    line-height: .45rem;
    text-align: center;
    border-bottom: 1px solid #000;
}