body {
    padding: 20px
}
ul li {
    list-style: none
}
span {
    width: 30px;
    height: 30px;
    border: 1px solid #000
}
#page {
    display: inline-block
}
span {
    padding: 5px
}
.blue {
    background: skyblue
}